* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
}
.title {
  margin: 5rem 0;
  text-align: center;
  font-size: 2.4rem;
  color: rgb(25, 126, 0);
}
.container {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.box {
  width: 15rem;
  height: 20rem;
  padding: 3rem;
  background-color: rgb(30, 46, 31);
  color: #fff;
}
.small__box {
  width: 100%;
  background-color: black;
  height: 10rem;
  font-size: 4rem;
  position: relative;
  border: none;
  color: #fff;
  outline: none;
  text-align: center;
}
.number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.names {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3.5rem;
}
.btn {
  border: none;
  background-color: green;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.4rem 2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
